django==1.11.29

pytz
Jinja2==2.11.3
django-jinja==2.6.0
psycopg2==2.7.3.2
dj-database-url==0.2.2
# TODO (yml): Remove hstore when we squash the migration
django-hstore==1.2.5

markdown==2.3.1
redis==2.9.1
django-pipeline==1.7.0

djorm-ext-pgfulltext==0.10
djorm-pgarray==1.2

# For production
uwsgi==2.0.22
whitenoise==4.1.4
