[Unit]
Description=brainzbot website
After=network.target redis.service postgresql.service
Before=nginx.service
Requires=redis.service postgresql.service

[Service]
Type=notify
User=www-data
Group=www-data
WorkingDirectory=/srv/www/brainzbot/brainzbot-core
EnvironmentFile=-/srv/www/brainzbot/brainzbot-core/.env
ExecStart=/srv/www/brainzbot/venv/bin/uwsgi --ini /srv/www/brainzbot/brainzbot-core/prod/uwsgi.ini
Restart=always
RestartSec=5s
KillSignal=SIGINT
TimeoutStopSec=15s
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
